/* Not found */

.notFound--layout {
  @include media('>=desktop') {
    max-width: 1024px;
    margin: auto;
  }

  @include media('>=wide') {
    max-width: 1200px;
  }

  @include media('>=fullhd') {
    max-width: 1224px;
    padding: 0;
  }

  :global(.vtex-store-components-3-x-searchBarContainer) {
    max-width: 100%;
    display: block;
    width: 100%;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--shelf-row-first) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1024px) {
    :global(.vtex-store-components-3-x-autoCompleteOuterContainer) {
      width: 600px;
      margin: auto;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--shelf-row-first) {
      margin-bottom: 40px;
    }
  }
}
