// Variables
@import '../settings/_index';

.container {
  margin-bottom: 20px;
}

.inlineContainer {
  margin-left: 0rem;
  margin-bottom: 3rem;
}

.star {

  &--filled{
    background-image: $ico-star-filled;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    font-size: 20px;
  }
  &--empty {
    background-image: $ico-star-empty;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    font-size: 20px;
  }
}

.reviewsHeading {
  border: 0;
}

.loginLink {
  padding-left: 0;
  font-size: 14px;
  color: $c-accent03;
}

.reviewCommentsContainer {
  :global(.vtex-button) {
    border: 1px solid $c-gray03;
    background-color: transparent;

    &:hover {
      border: 1px solid $c-gray03;
    }

    :global(.vtex__icon-caret-left),
    :global(.vtex__icon-caret-right) {
      color:  $c-gray03;
    }
  }

  :global(.vtex-dropdown__container) {
    border: 1px solid $c-gray02;
    border-radius: 0;
    :global(.vtex-dropdown__button) {
      &::after {
        background-image: $ico-filterIcon;
        content: '';
        display: flex;
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        position: absolute;
        right: 6px;
        top: 18px;
      }
      :global(.vtex-dropdown__arrow) {
        opacity: 0;
      }
    }
  }
}
