/* footer */
.imageElement {
  &--bandeiras-pagamento {
    margin-bottom: 5px;
    margin-right: 5px;
    object-fit: contain;
  }

  &--selos-seguranca {
    object-fit: contain;
    margin-right: 14px;
    margin-bottom: 30px;

    @include media('>=desktop') {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
/* fim footer */
