/* HEADER */
.notificationBarContainer {
  color: $c-preHeaderText;
  background: $c-preHeaderBg;
  font-weight: 400;
  text-decoration: none;
}

.notificationBarInner {
  min-height: 40px;
}

.notificationContent {
  display: flex;
  align-items: center;
  font-size: 12px;

  &--pitch-bar-1,
  &--pitch-bar-2{
    &::before {
      content: '';
      margin-right: 8px;
      display: flex;
      background-repeat: no-repeat;
    }
  }

  &--pitch-bar-1 {
    &::before {
      background-image: $ico-retire;
      height: 24px;
      width: 24px;
    }
  }

  &--pitch-bar-2 {
    &::before {
      background-image: $ico-creditCard;
      height: 24px;
      width: 24px;
    }
  }
}

.searchBarContainer {
  width: auto;
  margin: auto;
  padding: 8px 0;

  @include media('>=wide') {
    padding: 0;
  }

  :global(.vtex-input-prefix__group) {
    height: 40px;
    border: 1px solid $c-gray02;
    border-radius: 0;

    @media (min-width: 1024px) {
      height: 56px;
    }
  }
}

.autoCompleteOuterContainer {
  @include media('>=wide') {
    margin-left: auto;
    width: 704px;
  }

  :global(.vtex-styleguide-9-x-input) {
    max-width: 100%;
    background: $c-gray01;
    font-size: 12px;
    color: $c-gray06;
  }

  :global(.vtex-input__suffix) {
    padding: 0 16px;
    background: $c-gray01;
    border-radius: 0;
  }
}

.searchBarIcon {
  &--search {
    padding: 0;

    &::after {
      content: '';
      background-image: $ico-search;
      width: 24px;
      height: 24px;
      display: flex;
    }
  }
}

.searchIcon {
  display: none;
}

.logoContainer {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 20px 0;
  transition: all 300ms ease-in-out;

  @include media('>=desktop') {
    min-width: 144;
    padding: 0 43px 0 0;
  }
}

@include media('>=desktop') {
  .imageElementLink--header-wishlist {
    margin-left: 43px;
    margin-right: 20px;
  }
}

/* FIM HEADER */
