/* Product */

/* Thumb and Image - Start */

.carouselContainer {
  justify-content: flex-start;
}

.carouselGaleryThumbs {
  width: 79px !important;
  margin: 0 24px 0 0;
  position: relative;
  max-height: 550px;
}

.productImagesThumbActive {
  border: 2px solid $c-primay01;
}

.carouselGaleryCursor {
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 0;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperBullet {
  margin: 0;
  background-color: $c-gray03;
  box-sizing: border-box;
  opacity: 1;

  &--active {
    width: 12px;
    height: 12px;
    border: 3px solid $c-primay01;
    background-color: $white;
  }
}

/* Thumb and Image - End */

.productNameContainer {
  font-weight: 800;
  font-size: 20px;
  color: $c-gray08;
}

.productBrandName::before {
  content: "MARCA:";
  position: relative;
}

.productBrandName {
  margin-left: 5px;
}

.productBrandName,
:global(.vtex-product-identifier-0-x-product-identifier--productReference) {
  font-size: 12px;
  color: $c-gray04;
  text-transform: uppercase;
}

.buttonContainer {
  padding-top: 0px;
}

.skuSelectorContainer {
  margin: 9px 0 0;

  .skuSelectorSubcontainer {
    margin: 0;
  }
}

.skuSelectorName,
.skuSelectorSelectorImageValue {
  font-weight: 500;
  font-size: 12px;
  color: $c-gray05;
  margin-left: 7px;
}

.skuSelectorInternalBox {
  border-radius: 0;
}

.skuSelectorItemTextValue {
  color: $c-gray04;
}

.frameAround {
  border-radius: 0;
}

.shippingContainer {
  margin: 5px 0 0;

  :global(.vtex-address-form__postalCode) {
    padding: 0 0 8px;
  }

  :global(.vtex-input-prefix__group) {
    border-radius: 0;
    height: 40px;
  }

  :global(.vtex-address-form-4-x-input),
  :global(.vtex-input__suffix) {
    background: $c-gray01;
  }

  :global(.vtex-address-form__postalCode-forgottenURL) {
    padding: 8px 0 0;

    :global(.vtex__icon-external-link) {
      display: none;
    }
  }

  :global(.vtex-button) {
    background: $c-gray04;
    font-size: 0;
    min-height: 40px;

    &::before {
      content: "CONSULTAR";
      position: relative;
      font-size: 12px;
      color: $white;
      font-weight: 500;
    }
  }
}

.shippingTable {
  padding: 16px;
  border: 1px solid $c-gray02;
}

.shippingTableCell {
  padding: 8px 0;
}

.shippingTableLabel {
  cursor: pointer;
}

.productDescriptionTitle {
  font-size: 24px;
  color: $c-gray08;
  padding-bottom: 15px;
  border-bottom: 1px solid $c-gray02;
}

.productDescriptionText {
  font-size: 14px;
  line-height: 22px;
  color: $c-gray05;

  :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

@media (max-width: 769px) {
  .productBrandName {
    margin-left: 5px;
  }

  .productNameContainer {
    margin-top: 15px;
  }
}

.skuSelectorNameContainer,
.skuSelectorName,
.skuSelectorOptionsList {
  margin: 0;
}

.skuSelectorName {
  text-transform: uppercase;
}

.frameAround {
  border-color: $c-primay01 !important;
}

.showMoreButton {
  background: transparent;
}

/* Product */
