/* HEADER */
.link--menu-link-minha-conta,
.link--menu-link-wishlist-mobile {
  display: flex;
  color: $c-gray09;
  font-size: 12px;
  align-items: center;
  text-decoration: none;
  margin-bottom: 12px;

  &::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    margin-right: 13px;
  }
}

.link--menu-link-minha-conta {
  &::before {
    background-image: $ico-userMobileMenu;
  }
}

.link--menu-link-wishlist-mobile {
  &::before {
    background-image: $ico-wishlistMobile;
  }

  ;
}

/*FIM HEADER */
