// Variables
@import '../settings/_index';

.container {
  padding: 16px 0 17px;
  display: none;

  @media(min-width: 768px) {
    display: flex;
  }
}

.link,
.term {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
  color: $c-gray04;
  padding: 0;
}

.homeIcon {
  display: none;
}

.homeLink {
  &::before {
    content: "Home";
    position: relative;
    font-size: 10px;
    top: 1px;
    text-transform: uppercase;
    font-style: normal;
    color: $c-gray04
  }
}

.caretIcon {
  display: none;
}

.arrow {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '/';
    position: relative;
    font-weight: 500;
    font-size: 10px;
    color: $c-gray06;
    margin: 0 8px;
  }
}
