$white: #fff;
$c-white01: #fafafa;
$black: #000;
$c-black01: #2e2e2e;
$c-black02: #242424;
$c-black03: #1c1c1c;
$c-black04: #212121;

//shade
$c-gray01: #f0f0f0;
$c-gray02: #dbdbdb;
$c-gray03: #c7c7c7;
$c-gray04: #9e9e9e;
$c-gray05: #757575;
$c-gray06: #4c4c4c;

$c-gray07: #999999;
$c-gray08: #373838;
$c-gray09: #666666;
$c-gray10: #aaaaaa;
$c-gray11: #e5e5e5;
$c-gray12: #727273;
$c-gray13: #3f3f40;
$c-gray14: #f5f5f5;
$c-gray15: #616161;
$c-gray16: #c0c0c0;

//primary
$c-primay01: #001d42;
$c-primay02: #133b6c;
$c-primay03: #00132c;

//accent
$c-accent01: #00ceff;
$c-accent02: #00ceff;
$c-accent03: #7132c7;

//typography
$c-title: $c-gray08;
$c-body: #546e7a;
$c-link: #1e88e5;

$c-red: #ea4335;

// Pré Header / Tipbar / Pitch Bar
$c-preHeaderBg: $white;
$c-preHeaderBorderColor: $c-gray01;
$c-preHeaderText: $c-gray05;

// Login:
$c-accessCodeOptionBtn: $black;
$c-googleOptionBtn: #e33e2b;
$c-facebookOptionBtn: #2462a8;

// Header
$c-headerBg: $white;
$c-headerBgMobile: $c-primay01;
$c-headerBgHighlightBtn: $c-primay01;
$c-headerBgHighlightText: $white;
$c-headerTextDepartament: $c-gray05;

//Fotter
$c-footertBg: $white;
$c-footertTitle: $c-gray06;
$c-footertTitleMobile: $c-gray06;
$c-footertText: $c-gray13;
$c-footertTextEmail: $c-gray04;
$c-footertTextEmailMobile: $c-gray04;
$c-footertTextAtendimento: $c-gray04;
$c-footertTextAtendimentolMobile: $c-gray04;
$c-footertTextCopyright: $c-gray05;
$c-footertTextCopyrightMobile: $c-gray05;

//Button
$c-buttonText: $white;
$c-buttonPrimary: $c-primay01;

$c-buttonTextHover: $white;
$c-buttonPrimaryHover: $c-primay01;

// Shelf
$c-summaryPercentage: #5dca62;
$c-productHighlightWrapper: $c-primay01;

// Product / Quickview
$c-sellingPriceValue: $c-primay01;
$c-addToCartRow: $c-primay01;
$c-buyButtonProduct: $c-primay01;
$c-installmentsText: $c-gray04;
