$ph: 40rem; //640
$sm: 48rem; //768
$md: 64rem; //1024
$lg: 75rem; //1200
$xlg: 90rem; //1440

$grid-breakpoints: (
	xs: 0,
	ph: $ph,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xlg
) !default;

$breakpoints: (
	phone: $ph,
	tablet: $sm,
	desktop: $md,
	wide: $lg,
	fullhd: $xlg
) !default;

// Icons:

$ico-menuMobile: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 8V6H21V8H3ZM3 13H21V11H3V13ZM3 18H21V16H3V18Z' fill='%23001D42'/%3E%3C/svg%3E");
$ico-search: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.965 14.255H15.755L20.745 19.255L19.255 20.745L14.255 15.755V14.965L13.985 14.685C12.845 15.665 11.365 16.255 9.755 16.255C6.165 16.255 3.255 13.345 3.255 9.755C3.255 6.165 6.165 3.255 9.755 3.255C13.345 3.255 16.255 6.165 16.255 9.755C16.255 11.365 15.665 12.845 14.685 13.985L14.965 14.255ZM5.255 9.755C5.255 12.245 7.26501 14.255 9.755 14.255C12.245 14.255 14.255 12.245 14.255 9.755C14.255 7.26501 12.245 5.255 9.755 5.255C7.26501 5.255 5.255 7.26501 5.255 9.755Z' fill='%23001D42'/%3E%3C/svg%3E%0A");
$ico-retire: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4H20V6H4V4ZM18.96 12L18.36 9H5.64L5.04 12H18.96ZM20 7H4L3 12V14H4V20H14V14H18V20H20V14H21V12L20 7ZM6 14V18H12V14H6Z' fill='%23001D42'/%3E%3C/svg%3E");
$ico-creditCard: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 4H4C2.89 4 2.01 4.89 2.01 6L2 18C2 19.11 2.89 20 4 20H20C21.11 20 22 19.11 22 18V6C22 4.89 21.11 4 20 4ZM20 18H4V12H20V18ZM4 8H20V6H4V8Z' fill='%23001D42'/%3E%3C/svg%3E");
$ico-user: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icon/action/account_circle_24px'%3E%3Cpath id='icon/action/account_circle_24px_2' fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM7.07 18.28C7.5 17.38 10.12 16.5 12 16.5C13.88 16.5 16.51 17.38 16.93 18.28C15.57 19.36 13.86 20 12 20C10.14 20 8.43 19.36 7.07 18.28ZM12 14.5C13.46 14.5 16.93 15.09 18.36 16.83C19.38 15.49 20 13.82 20 12C20 7.59 16.41 4 12 4C7.59 4 4 7.59 4 12C4 13.82 4.62 15.49 5.64 16.83C7.07 15.09 10.54 14.5 12 14.5ZM12 6C10.06 6 8.5 7.56 8.5 9.5C8.5 11.44 10.06 13 12 13C13.94 13 15.5 11.44 15.5 9.5C15.5 7.56 13.94 6 12 6ZM10.5 9.5C10.5 10.33 11.17 11 12 11C12.83 11 13.5 10.33 13.5 9.5C13.5 8.67 12.83 8 12 8C11.17 8 10.5 8.67 10.5 9.5Z' fill='%23006D5F'/%3E%3C/g%3E%3C/svg%3E");
$ico-userGray: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM5.07 16.28C5.5 15.38 8.12 14.5 10 14.5C11.88 14.5 14.51 15.38 14.93 16.28C13.57 17.36 11.86 18 10 18C8.14 18 6.43 17.36 5.07 16.28ZM10 12.5C11.46 12.5 14.93 13.09 16.36 14.83C17.38 13.49 18 11.82 18 10C18 5.59 14.41 2 10 2C5.59 2 2 5.59 2 10C2 11.82 2.62 13.49 3.64 14.83C5.07 13.09 8.54 12.5 10 12.5ZM10 4C8.06 4 6.5 5.56 6.5 7.5C6.5 9.44 8.06 11 10 11C11.94 11 13.5 9.44 13.5 7.5C13.5 5.56 11.94 4 10 4ZM8.5 7.5C8.5 8.33 9.17 9 10 9C10.83 9 11.5 8.33 11.5 7.5C11.5 6.67 10.83 6 10 6C9.17 6 8.5 6.67 8.5 7.5Z' fill='%234C4C4C'/%3E%3C/svg%3E%0A");
$ico-userMobile: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'> <g id='icon/action/account_circle_24px'> <path id='icon/action/account_circle_24px_2' fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM7.07 18.28C7.5 17.38 10.12 16.5 12 16.5C13.88 16.5 16.51 17.38 16.93 18.28C15.57 19.36 13.86 20 12 20C10.14 20 8.43 19.36 7.07 18.28ZM12 14.5C13.46 14.5 16.93 15.09 18.36 16.83C19.38 15.49 20 13.82 20 12C20 7.59 16.41 4 12 4C7.59 4 4 7.59 4 12C4 13.82 4.62 15.49 5.64 16.83C7.07 15.09 10.54 14.5 12 14.5ZM12 6C10.06 6 8.5 7.56 8.5 9.5C8.5 11.44 10.06 13 12 13C13.94 13 15.5 11.44 15.5 9.5C15.5 7.56 13.94 6 12 6ZM10.5 9.5C10.5 10.33 11.17 11 12 11C12.83 11 13.5 10.33 13.5 9.5C13.5 8.67 12.83 8 12 8C11.17 8 10.5 8.67 10.5 9.5Z' fill='white'/> </g> </svg>");
$ico-userMobileMenu: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM7.07 18.28C7.5 17.38 10.12 16.5 12 16.5C13.88 16.5 16.51 17.38 16.93 18.28C15.57 19.36 13.86 20 12 20C10.14 20 8.43 19.36 7.07 18.28ZM12 14.5C13.46 14.5 16.93 15.09 18.36 16.83C19.38 15.49 20 13.82 20 12C20 7.59 16.41 4 12 4C7.59 4 4 7.59 4 12C4 13.82 4.62 15.49 5.64 16.83C7.07 15.09 10.54 14.5 12 14.5ZM12 6C10.06 6 8.5 7.56 8.5 9.5C8.5 11.44 10.06 13 12 13C13.94 13 15.5 11.44 15.5 9.5C15.5 7.56 13.94 6 12 6ZM10.5 9.5C10.5 10.33 11.17 11 12 11C12.83 11 13.5 10.33 13.5 9.5C13.5 8.67 12.83 8 12 8C11.17 8 10.5 8.67 10.5 9.5Z' fill='%23001D42'/%3E%3C/svg%3E");
$ico-wishlist: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 2.91501C11.09 1.63501 12.76 0.825012 14.5 0.825012C17.58 0.825012 20 3.24501 20 6.32501C20 10.1019 16.6056 13.18 11.4627 17.8435L11.45 17.855L10 19.175L8.55 17.865L8.51052 17.8291C3.38263 13.1693 0 10.0953 0 6.32501C0 3.24501 2.42 0.825012 5.5 0.825012C7.24 0.825012 8.91 1.63501 10 2.91501ZM10 16.475L10.1 16.375C14.86 12.065 18 9.21501 18 6.32501C18 4.32501 16.5 2.82501 14.5 2.82501C12.96 2.82501 11.46 3.81501 10.94 5.18501H9.07C8.54 3.81501 7.04 2.82501 5.5 2.82501C3.5 2.82501 2 4.32501 2 6.32501C2 9.21501 5.14 12.065 9.9 16.375L10 16.475Z' fill='%23C7C7C7'/%3E%3C/svg%3E");
$ico-wishlist-outline: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.99968 1.89103C8.86259 0.8777 10.1847 0.23645 11.5622 0.23645C14.0005 0.23645 15.9163 2.15228 15.9163 4.59062C15.9163 7.58066 13.2291 10.0175 9.15762 13.7094L9.14759 13.7185L7.99968 14.7635L6.85176 13.7265L6.82051 13.6981C2.76093 10.009 0.0830078 7.57546 0.0830078 4.59062C0.0830078 2.15228 1.99884 0.23645 4.43717 0.23645C5.81467 0.23645 7.13676 0.8777 7.99968 1.89103ZM7.99967 12.626L8.07884 12.5469C11.8472 9.13478 14.333 6.87853 14.333 4.59062C14.333 3.00728 13.1455 1.81978 11.5622 1.81978C10.343 1.81978 9.15551 2.60353 8.74384 3.68812H7.26342C6.84384 2.60353 5.65634 1.81978 4.43717 1.81978C2.85384 1.81978 1.66634 3.00728 1.66634 4.59062C1.66634 6.87853 4.15217 9.13478 7.92051 12.5469L7.99967 12.626Z' fill='%23C7C7C7'/%3E%3C/svg%3E");
$ico-wishlist-fill: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.9987 1.89103C8.86162 0.8777 10.1837 0.23645 11.5612 0.23645C13.9995 0.23645 15.9154 2.15228 15.9154 4.59062C15.9154 7.58066 13.2281 10.0175 9.15665 13.7094L9.14662 13.7185L7.9987 14.7635L6.85078 13.7265L6.81953 13.6981C2.75995 10.009 0.0820312 7.57546 0.0820312 4.59062C0.0820312 2.15228 1.99786 0.23645 4.4362 0.23645C5.8137 0.23645 7.13578 0.8777 7.9987 1.89103ZM7.9987 12.626L8.07786 12.5469C11.8462 9.13478 14.332 6.87853 14.332 4.59062C14.332 3.00728 13.1445 1.81978 11.5612 1.81978C10.342 1.81978 9.15453 2.60353 8.74286 3.68812H7.26245C6.84286 2.60353 5.65536 1.81978 4.4362 1.81978C2.85286 1.81978 1.66536 3.00728 1.66536 4.59062C1.66536 6.87853 4.1512 9.13478 7.91953 12.5469L7.9987 12.626Z' fill='%23F80000'/%3E%3C/svg%3E%0A");
$ico-wishlistMobile: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4.91495C13.09 3.63495 14.76 2.82495 16.5 2.82495C19.58 2.82495 22 5.24495 22 8.32495C22 12.1018 18.6056 15.1799 13.4627 19.8435L13.45 19.855L12 21.175L10.55 19.865L10.5105 19.8291C5.38263 15.1692 2 12.0953 2 8.32495C2 5.24495 4.42 2.82495 7.5 2.82495C9.24 2.82495 10.91 3.63495 12 4.91495ZM12 18.475L12.1 18.375C16.86 14.065 20 11.215 20 8.32495C20 6.32495 18.5 4.82495 16.5 4.82495C14.96 4.82495 13.46 5.81495 12.94 7.18495H11.07C10.54 5.81495 9.04 4.82495 7.5 4.82495C5.5 4.82495 4 6.32495 4 8.32495C4 11.215 7.14 14.065 11.9 18.375L12 18.475Z' fill='%23001D42'/%3E%3C/svg%3E");
$ico-news: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M43.98 19C43.98 17.56 43.24 16.3 42.1 15.6L24 5L5.9 15.6C4.76 16.3 4 17.56 4 19V39C4 41.2 5.8 43 8 43H40C42.2 43 44 41.2 44 39L43.98 19ZM39.98 18.9999V19.0199L24 28.9999L8 18.9999L24 9.63995L39.98 18.9999ZM8 23.68V39H40L39.98 23.74L24 33.72L8 23.68Z' fill='%2300CEFF'/%3E%3C/svg%3E%0A");
$ico-arrow-isclosed-accordion-footer: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666748 0.333252L4.00008 3.66659L7.33341 0.333252H0.666748Z' fill='%23C7C7C7'/%3E%3C/svg%3E");
$ico-arrow-isopen-accordion-footer: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666748 0.333252L4.00008 3.66659L7.33341 0.333252H0.666748Z' fill='%23C7C7C7'/%3E%3C/svg%3E");
$ico-arrow-isclosed-accordion-header: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00008 0.666626L5.06008 1.60663L8.78008 5.33329H0.666748V6.66663H8.78008L5.06008 10.3933L6.00008 11.3333L11.3334 5.99996L6.00008 0.666626Z' fill='%23C7C7C7'/%3E%3C/svg%3E%0A");
$ico-arrow-isopen-accordion-header: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 7.33329H5.21996L8.94663 3.60663L7.99996 2.66663L2.66663 7.99996L7.99996 13.3333L8.93996 12.3933L5.21996 8.66663H13.3333V7.33329Z' fill='%23001D42'/%3E%3C/svg%3E");
$ico-closeIconButton: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icon/navigation/arrow_back_24px'%3E%3Cpath id='icon/navigation/arrow_back_24px_2' d='M4 13L16.17 13L10.58 18.59L12 20L20 12L12 4L10.59 5.41L16.17 11L4 11L4 13Z' fill='%23001D42'/%3E%3C/g%3E%3C/svg%3E");
$ico-minicartIconContainer: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 5.5H16C17.1 5.5 18 6.4 18 7.5V19.5C18 20.6 17.1 21.5 16 21.5H2C0.9 21.5 0 20.6 0 19.5V7.5C0 6.4 0.9 5.5 2 5.5H4C4 2.74 6.24 0.5 9 0.5C11.76 0.5 14 2.74 14 5.5ZM12 5.5C12 3.84 10.66 2.5 9 2.5C7.34 2.5 6 3.84 6 5.5H12ZM2 19.5V7.5H16V19.5H2ZM6 8.5C6 10.16 7.34 11.5 9 11.5C10.66 11.5 12 10.16 12 8.5H14C14 11.26 11.76 13.5 9 13.5C6.24 13.5 4 11.26 4 8.5H6Z' fill='%234C4C4C'/%3E%3C/svg%3E");
$ico-minicartSideBarContentWrapper-removeButton: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.66666 0L7.33333 0.666667H9.66666V2H0.333328V0.666667H2.66666L3.33333 0H6.66666ZM0.999995 10.6667C0.999995 11.4 1.6 12 2.33333 12H7.66666C8.39999 12 9 11.4 9 10.6667V2.66667H0.999995V10.6667ZM2.33333 4H7.66666V10.6667H2.33333V4Z' fill='%23C7C7C7'/%3E%3C/svg%3E%0A");
$ico-minicartEmptyStateContainer-wrapper: url("data:image/svg+xml,%3Csvg width='36' height='42' viewBox='0 0 36 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 10H32C34.2 10 36 11.8 36 14V38C36 40.2 34.2 42 32 42H4C1.8 42 0 40.2 0 38V14C0 11.8 1.8 10 4 10H8C8 4.48 12.48 0 18 0C23.52 0 28 4.48 28 10ZM24 10C24 6.68 21.32 4 18 4C14.68 4 12 6.68 12 10H24ZM4 38V14H32V38H4ZM12 16C12 19.32 14.68 22 18 22C21.32 22 24 19.32 24 16H28C28 21.52 23.52 26 18 26C12.48 26 8 21.52 8 16H12Z' fill='%2300BFA5'/%3E%3C/svg%3E");
$ico-filterPopupButton: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3333 6H10V2H11.3333V3.33333H14V4.66667H11.3333V6ZM2 4.66667V3.33333H8.66667V4.66667H2ZM2 12.6667V11.3333H6V12.6667H2ZM8.66667 14V12.6667H14V11.3333H8.66667V10H7.33333V14H8.66667ZM4.66667 7.33333V6H6V10H4.66667V8.66667H2V7.33333H4.66667ZM14 8.66667V7.33333H7.33333V8.66667H14Z' fill='%23001D42'/%3E%3C/svg%3E");
$ico-orderByButton: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 4V5.33333H14V4H2ZM2 12H6V10.6667H2V12ZM10 8.66667H2V7.33333H10V8.66667Z' fill='%23001D42'/%3E%3C/svg%3E");
$ico-filterIcon: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666504 0.333313L3.99984 3.66665L7.33317 0.333313H0.666504Z' fill='%23C7C7C7'/%3E%3C/svg%3E");
$ico-listas: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20'%3E%3Cpath fill='%231b5a41' d='M10 4.686a4.491 4.491 0 013.375-1.567A4.085 4.085 0 0117.5 7.244c0 2.832-2.546 5.141-6.403 8.639l-.01.008-1.087.99-1.087-.982-.03-.027C5.037 12.377 2.5 10.072 2.5 7.244a4.085 4.085 0 014.125-4.125c1.305 0 2.558.607 3.375 1.567zm0 10.17l.075-.075C13.645 11.55 16 9.411 16 7.244c0-1.5-1.125-2.625-2.625-2.625-1.155 0-2.28.742-2.67 1.77H9.303c-.398-1.028-1.523-1.77-2.678-1.77C5.125 4.619 4 5.744 4 7.244c0 2.167 2.355 4.305 5.925 7.537z' clip-rule='evenodd' fill-rule='evenodd'/%3E%3C/svg%3E");
$ico-horarios: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.993 3.056A6.941 6.941 0 003.056 10a6.941 6.941 0 006.937 6.945A6.949 6.949 0 0016.945 10a6.949 6.949 0 00-6.952-6.944zm.007 12.5A5.554 5.554 0 014.445 10 5.554 5.554 0 0110 4.444 5.554 5.554 0 0115.556 10 5.554 5.554 0 0110 15.556zm-.694-9.028h1.041v3.646l3.125 1.854-.52.854-3.646-2.188V6.528z' fill='%231B5A41'/%3E%3C/svg%3E");
$ico-ajuda: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.056 10A6.947 6.947 0 0110 3.056 6.947 6.947 0 0116.945 10 6.947 6.947 0 0110 16.945 6.947 6.947 0 013.056 10zm7.639 2.778v1.389h-1.39v-1.39h1.39zM10 15.556A5.563 5.563 0 014.445 10 5.563 5.563 0 0110 4.444 5.563 5.563 0 0115.556 10 5.563 5.563 0 0110 15.556zM7.222 8.61a2.777 2.777 0 115.556 0c0 .891-.549 1.37-1.083 1.837-.507.443-1 .875-1 1.635h-1.39c0-1.264.655-1.766 1.23-2.207.451-.346.854-.654.854-1.265 0-.764-.625-1.389-1.389-1.389s-1.389.625-1.389 1.39H7.222z' fill='%231B5A41'/%3E%3C/svg%3E");
$ico-orders: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icon/av/replay_24px'%3E%3Cpath id='icon/av/replay_24px_2' d='M12 6V2L7 7L12 12V8C15.31 8 18 10.69 18 14C18 17.31 15.31 20 12 20C8.69 20 6 17.31 6 14H4C4 18.42 7.58 22 12 22C16.42 22 20 18.42 20 14C20 9.58 16.42 6 12 6Z' fill='%23C7C7C7'/%3E%3C/g%3E%3C/svg%3E%0A");
$ico-orders-2: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icon/content/clear_24px'%3E%3Cpath id='icon/content/clear_24px_2' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z' fill='%23C7C7C7'/%3E%3C/g%3E%3C/svg%3E");
$ico-triggerContainer-quickview: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.66663 12C5.81996 9.07333 8.66663 7 12 7C15.3333 7 18.18 9.07333 19.3333 12C18.18 14.9267 15.3333 17 12 17C8.66663 17 5.81996 14.9267 4.66663 12ZM17.88 12C16.78 9.75333 14.5266 8.33333 12 8.33333C9.47329 8.33333 7.21996 9.75333 6.11996 12C7.21996 14.2467 9.47329 15.6667 12 15.6667C14.5266 15.6667 16.78 14.2467 17.88 12ZM12 10.3333C12.92 10.3333 13.6666 11.08 13.6666 12C13.6666 12.92 12.92 13.6667 12 13.6667C11.08 13.6667 10.3333 12.92 10.3333 12C10.3333 11.08 11.08 10.3333 12 10.3333ZM8.99996 12C8.99996 10.3467 10.3466 9 12 9C13.6533 9 15 10.3467 15 12C15 13.6533 13.6533 15 12 15C10.3466 15 8.99996 13.6533 8.99996 12Z' fill='%23C7C7C7'/%3E%3C/svg%3E%0A");
$ico-arrow-account: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.5L5 5.5L10 0.5H0Z' fill='%23C7C7C7'/%3E%3C/svg%3E");;

$ico-empty-cart: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34 13H38C40.2 13 42 14.8 42 17V41C42 43.2 40.2 45 38 45H10C7.8 45 6 43.2 6 41V17C6 14.8 7.8 13 10 13H14C14 7.48 18.48 3 24 3C29.52 3 34 7.48 34 13ZM30 13C30 9.68 27.32 7 24 7C20.68 7 18 9.68 18 13H30ZM10 41V17H38V41H10ZM18 19C18 22.32 20.68 25 24 25C27.32 25 30 22.32 30 19H34C34 24.52 29.52 29 24 29C18.48 29 14 24.52 14 19H18Z' fill='%2300CEFF'/%3E%3C/svg%3E");
$ico-back-account: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 11L7.83 11L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13L20 13V11Z' fill='%23001D42'/%3E%3C/svg%3E");

$ico-star-filled: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1181 5.4361C14.1181 5.17092 13.8466 5.06485 13.643 5.02949L9.38381 4.38423L7.4748 0.362406C7.39844 0.194462 7.25421 0 7.05907 0C6.86392 0 6.71969 0.194462 6.64333 0.362406L4.73433 4.38423L0.475129 5.02949C0.263018 5.06485 0 5.17092 0 5.4361C0 5.5952 0.110298 5.74547 0.212111 5.86038L3.30045 8.98945L2.57079 13.409C2.56231 13.4709 2.55382 13.5239 2.55382 13.5858C2.55382 13.8156 2.66412 14.0278 2.91017 14.0278C3.02895 14.0278 3.13925 13.9836 3.24955 13.9217L7.05907 11.8357L10.8686 13.9217C10.9704 13.9836 11.0892 14.0278 11.208 14.0278C11.454 14.0278 11.5558 13.8156 11.5558 13.5858C11.5558 13.5239 11.5558 13.4709 11.5473 13.409L10.8177 8.98945L13.8975 5.86038C14.0078 5.74547 14.1181 5.5952 14.1181 5.4361Z' fill='%2300CEFF'/%3E%3C/svg%3E");
$ico-star-empty: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 5.4361C15 5.17092 14.7285 5.06485 14.5248 5.02949L10.2656 4.38423L8.35664 0.362406C8.28028 0.194462 8.13604 0 7.9409 0C7.74576 0 7.60152 0.194462 7.52516 0.362406L5.61616 4.38423L1.35697 5.02949C1.14485 5.06485 0.881836 5.17092 0.881836 5.4361C0.881836 5.5952 0.992134 5.74547 1.09395 5.86038L4.18229 8.98945L3.45263 13.409C3.44414 13.4709 3.43566 13.5239 3.43566 13.5858C3.43566 13.8156 3.54595 14.0278 3.792 14.0278C3.91079 14.0278 4.02108 13.9836 4.13138 13.9217L7.9409 11.8357L11.7504 13.9217C11.8522 13.9836 11.971 14.0278 12.0898 14.0278C12.3358 14.0278 12.4377 13.8156 12.4377 13.5858C12.4377 13.5239 12.4377 13.4709 12.4292 13.409L11.6995 8.98945L14.7794 5.86038C14.8897 5.74547 15 5.5952 15 5.4361Z' fill='%23E0E0E0'/%3E%3C/svg%3E");
