// Variables
@import '../settings/_index';

.productName {
  color: $c-primay01;
  font-weight: 800;
  font-size: 12px;
  max-height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: initial;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.quantity {
  :global(.vtex-dropdown__container) {
    border: 1px solid $c-gray02;
    border-radius: 0;
    background: $c-gray01;
    width: 104px;
    height: 40px;
  }

  :global(.vtex-dropdown__arrow) {
    color: $c-gray03;
  }
}

.productVariationsItem {
  font-size: 12px;
}


.price {
  color: $c-primay01;
  font-weight: 800;
}
