// Variables
@import '../settings/_index';

.listPrice {
  color: $c-gray12;
  margin-bottom: .25rem;
  font-size: 1rem;
}

.sellingPriceValue {
  color: $c-primay01;
  font-size: 24px;
  font-weight: 800;
}

.installments {
  color: $c-gray04;
  margin-bottom: 1rem;

  font-size: 0;
  :global(.vtex-product-price-1-x-installmentsNumber) {
    font-size: 12px;
    &::before {
      content: 'ou';
      margin-right: 5px;
    }
    &::after {
      content: 'x';
      margin-right: 5px;
    }
  }
  :global(.vtex-product-price-1-x-installmentValue) {
    font-size: 12px;
    &::before {
      content: 'de';
      margin-right: 5px;
    }
  }
}

:global(.vtex-modal-layout-0-x-contentContainer--quickviewContent) .savings {
  display: none;
}

.savingsPercentage--summaryPercentage {
  color: $white;
  font-size: 11px;
  background-color: $c-summaryPercentage;
  padding: 6px 8px;
  z-index: 10;
  position: relative;
  font-weight: 700;
  height: 24px;
  min-height: 24px;
  line-height: 24px;

  &::after {
    content: "OFF";
    margin-left: 5px;
  }
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: $c-black01;
}

.savings--summary {
  background: $c-primay01 !important;
  border-radius: 0 !important;
  align-items: center;
  display: flex;
  font-size: 10px !important;
  padding: 5px;
  margin-left: 10px;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: $white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}
.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}