.flexRowContent {
  &--drawer-links-mobile {
    border-top: 1px solid $c-gray11;
    padding: 10px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: $white;
    width: 100%;

    .stretchChildrenWidth {
      padding: 6px 0;
    }

    :global(.vtex-store-link-0-x-link--link-listas),
    :global(.vtex-store-link-0-x-link--link-horarios),
    :global(.vtex-store-link-0-x-link--link-ajuda) {
      color: $c-gray05;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      padding-left: 28px;
      position: relative;
      text-decoration: none;

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    :global(.vtex-store-link-0-x-link--link-listas)::before {
      background-image: $ico-listas;
    }

    :global(.vtex-store-link-0-x-link--link-horarios)::before {
      background-image: $ico-horarios;
    }

    :global(.vtex-store-link-0-x-link--link-ajuda)::before {
      background-image: $ico-ajuda;
    }
  }
}
