/* Footer */

// content
.flexRowContent {
  &--news-wrap {
    border: 1px solid $c-gray02;
    padding: 21px 12px 16px;
    background-color: $white;

    @include media('>=phone'){
      padding: 16px;
    }
  }

  &--news-wrap-title {
    @include media('>=phone'){
      display: flex;
      flex-direction: column;

      .stretchChildrenWidth {
        width: 100% !important;
      }
    }
  }

  &--copyright-powered-developed {
    @include media('>=phone'){
      .stretchChildrenWidth:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &--redes-sociais {
    display: flex;
    width: 50%;

    @include media('>=desktop'){
      width: 200px;
    }
  }

  &--pagamento-e-seguranca {
    border-bottom: 1px solid $c-gray02;
    border-top: 1px solid $c-gray02;

    @include media('>=phone'){
      padding: 20px 0;
    }
    @include media('>=desktop') {
      justify-content: flex-start;

      .stretchChildrenWidth {
        width: 50% !important;
      }
    }
  }

  &--bandeiras-pagamento,
  &--selos-seguranca {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    .stretchChildrenWidth {
      width: auto !important;
      justify-content: flex-start;

      &:last-child {
        :global(.vtex-store-components-3-x-imageElement--selos-seguranca) {
          margin: 0;
        }
      }
    }
  }

  &--powered-developed {
    display: flex;


    @include media('<=desktop'){
      justify-content: flex-start;

      .stretchChildrenWidth {
        margin: 0 40px 0 0;
      }
    }
  }

  &--copyright {
    @include media('>=desktop'){
      align-items: baseline;
      display: flex;
      height: 95px;
    }

    .stretchChildrenWidth {
      justify-content: flex-end;
    }
  }

  &--menu-mobile-itens {
    padding-top: 0;
  }

  &--menu-row {
    @include media('>=tablet') {
      .stretchChildrenWidth:last-child {
        margin-right: 50px;
      }
    }
  }
}

// Row
.flexRow {
  &--news-wrap {
    background: linear-gradient(0deg, $c-gray01 50%, $white 0);
  }

  &--news-wrap-title {
    @include media('>=phone'){
      display: flex;
      align-items: center;
    }

    &::before {
      content: "";
      background-image: $ico-news;
      background-repeat: no-repeat;
      display: flex;
      width: 45px;
      height: 45px;
      margin: 0 auto 21px;

      @include media('>=phone'){
        width: 50px;
        margin: 0 10px 0 0;
      }

      @include media('>=desktop'){
        margin: 0 40px 0 0;
      }
    }
  }

  &--menu-mobile-accordion,
  &--menu-mobile-itens,
  &--menu-row,
  &--pagamento-e-seguranca,
  &--copyright {
    background: $c-footertBg;
  }

  &--menu-row {
    padding: 0 0 28px;
  }

  &--copyright {
    @include media('>=desktop'){
      padding: 24px 0 0;
    }
  }

  &--seo-row-text {
    background: $c-gray01;
  }
  &--powered-developed {
    @include media('>=desktop') {
      margin-right: 40px;
    }
  }
}

// Col
.flexColChild {
  &--copyright {
    padding-bottom: 0;
  }

  &--menu-itens-col {
    height: auto !important;

    .stretchChildrenWidth {
      padding: 0;
    }
  }

  &--powered-developed {
    @include media('>=phone'){
      margin-left: auto;
    }
  }
}

/* Footer */
