.flexRowContent {
  &--institucional {
    padding: 25px 0 50px;
  }
}

.flexCol {
  &--menu-institucional {
    display: none;
    @include media('>=phone') {
      display: flex;
    }
  }
}
.flexColChild {
  &--menu-institucional {
    height: auto !important;
    margin-bottom: 8px;
  }
}