.flexRow {
  &--page-contato {
    background-color: $c-gray01;
    border-radius: 15px;
    @include media(">=tablet") {
      background-color: transparent;
      border-radius: 0;
    }
  }

  &--page-contato-redes-sociais {
    @include media(">=desktop") {
      max-width: 80%;
    }
  }
}
.flexRowContent {
  &--page-contato {
    background-color: $c-gray01;
    border-radius: 15px;
    padding: 24px 0;
    margin: 48px 0 58px;
    @include media(">=phone") {
      padding: 24px;
    }

    &-redes-sociais {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 40px;
      @include media(">=tablet") {
        margin-bottom: 82px;
      }
    }
  }
}

.flexCol {
  &--page-contato-info {
    @include media(">=tablet") {
      max-width: 392px;
    }
  }

  &--page-contato-form {
    background: $white;
    border-radius: 15px;
    padding: 33px 16px;

    @include media(">=tablet") {
      max-width: 408px;
    }

    :global(.vtex-input-prefix__group) {
      margin-bottom: 8px;
      border: 1px solid #dbdbdb;
      height: 56px;
      border-radius: 0;
    }
    :global(.vtex-textarea__input) {
      margin-bottom: 24px;
      border: 1px solid #dbdbdb;
      border-radius: 0;
      resize: none !important;
    }
    :global(.vtex-input__label),
    :global(.vtex-textarea__label) {
      font-size: 12px;
      color: $c-title;
    }

    :global(.vtex-store-form-0-x-formSubmitButton) {
      :global(.vtex-button) {
        width: 100%;
        background-color: $c-accent03;
        font-weight: 800;
        font-size: 12px;
      }
    }
  }
}
