/* QuickView */

.flexRow {
  &--product-menu-quickview {
    margin: 5px 0 20px;
  }
}

.flexRowContent {
  &--product-menu-quickview {
    .stretchChildrenWidth {
      padding: 0;
    }
  }

  &--product-highlights-quickview {
    .stretchChildrenWidth  {
      display: flex;
      flex-direction: column;
    }
  }

  &--quickviewMainRow {
    :global(.vtex-product-highlights-2-x-productHighlightWrapper) {
      width: auto;
    }
  }
}

:global(.vtex-modal-layout-0-x-actionsContentWrapper) {
  border-top: 0 !important;
}

:global(.vtex-modal-layout-0-x-contentContainer--quickviewContent) {
  @include media('<=phone') {
    padding: 14px !important;
  }
}

.flexColChild {
  &--quickviewDetails {
    width: 332px;
    :global(.vtex-wish-list-0-x-wishlistIconContainer) {
      @include media('<=phone') {
        position: inherit;
      }

      :global(.vtex-button) {
        margin-left: 0;
        width: 100%;
      }

      :global(.vtex-button__label) {
        &::before {
          position: absolute;
          left: 15px;
          background-image: $ico-wishlist;
          background-position: center;
          background-repeat: no-repeat;
          content: '';
          display: flex;
          width: 24px;
          height: 24px;
        }

        &::after {
          content: 'ADICIONAR A LISTA DE DESEJOS';
          position: relative;
          font-weight: 500;
          font-size: 12px;
          color: $c-gray05;

          @include media('>=tablet') {
            font-size: 10px;
          }
        }
      }
    }
  }
}

:global(.vtex-modal-layout-0-x-actionsContentWrapper--quickview) {
  .flexRow--addToCartRow {
    padding-bottom: 0;
  }

  :global(.vtex-wish-list-0-x-wishlistIconContainer) {
    :global(.vtex-button) {
      border: 1px solid $c-gray03;
    }
  }

  .flexRow--addToCartRow :global(.vtex-button) {
    background-color: $c-accent03;
    border-color: $c-accent03;
  }

  :global(.vtex-wish-list-0-x-wishlistIconContainer) {
    :global(.vtex-button) {
      background-color: $white;
    }
  }
}

/* QuickView */
