// Variables
@import '../settings/_index';

.headerRowBackground {
  &--pitch-bar {
    border-bottom: 1px solid $c-preHeaderBorderColor;
    background: $c-preHeaderBg;
  }
}

.headerRowContentContainer {
  &--header-row-1 {
    padding: 16px 0;
  }
}

.headerRowContainer {
  &--pitch-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--header-menu-right-desktop {
    flex-wrap: wrap;
  }

  &--searchbar-mobile {
    display: block;
  }
}
