/* Header */
.menuContainerNav {
  &--header-menu-list {
    width: 800px;
    margin-left: auto;
    padding: 1em 0 0;

    @include media('>=wide') {
      width: 980px;
    }

    @include media('>=fullhd') {
      width: 1000px;
    }
  }

  &--sub-menu-mobile {
    width: 100%;
    border-bottom: 1px solid $c-gray01;
    padding-bottom: 46px;
  }

  &--header-menu-list-mobile {
    width: 100%;
  }
}

.menuContainer {
  &--header-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.styledLinkContainer {
  &--name-category {
    margin: 0;
    padding: 0;
  }

  &--name-category-mobile {
    margin: 0 16px;
    padding: 0;
  }

  &--header-submenu-mobile {
    padding: 0;
  }

  &--header-subcategoria-link {
    margin: 0;
  }
}

.styledLinkContent {
  &--name-category-mobile {
    border-bottom: 1px solid $c-gray02;
    padding: 13px 0;
    font-size: 12px;
    color: $c-gray06;
    display: flex;
    align-items: center;
  }

  &--header-submenu-mobile,
  &--sub-menu-mobile {
    font-size: 12px;
    color: $c-gray05;
    padding-bottom: 16px;
  }

  &--header-subcategoria-link {
    color: $c-gray05;
    padding-bottom: 8px;
    padding-right: 53px;
  }
}

.styledLink {
  &--name-category {
    color: $c-headerTextDepartament;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;

    &--highlight {
      background: $c-headerBgHighlightBtn;
      display: block;
      padding: 5px 8px;
      border-radius: 5px;
      color: $c-headerBgHighlightText;
    }
  }
}

.menuItem--name-category {
  &:hover {
    .styledLink {
      &--name-category {
        color: $c-accent03;
      }

      &--highlight {
        color: $c-headerBgHighlightText;
      }
    }
  }
}

.accordionIcon {
  &--name-category-mobile {
    font-size: 0;

    &--isClosed,
    &--isOpen {
      &::before {
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
      }
    }

    &--isClosed {
      &::before {
        background-image: $ico-arrow-isclosed-accordion-header;
      }
    }

    &--isOpen {
      &::before {
        background-image: $ico-arrow-isopen-accordion-header;
      }
    }
  }
}

.submenuAccordion {
  &--submenu-categorias {
    padding: 0 16px;
  }
}

.submenuWrapper {
  &--submenu-desktop {
    background: transparent;
    padding: 25px 0;
  }
}

/* Header */
