.styledLinkContainer {
  &--menu-item-institucional {
    margin: 0 !important;
  }
}
.styledLink {
  &--menu-item-institucional {
    display: flex;
    align-items: center;
    &::before {
      height: 40px;
      width: 4px;
      background-color: transparent;
      content: '';
      display: flex;
      margin-right: 24px;
    }
    
    &:hover, &--highlight {
      &::before {
        background-color: $c-primay01;
      }
    }
  }
}
.styledLinkContent {
  &--menu-item-institucional {
    font-size: 12px;
    color: $c-gray06;
  }
}
