// Variables
@import '../settings/_index';

.relatedProducts {
  padding: 0 0 45px;

  @include media('>=tablet') {
    padding: 0 0 75px;
  }
}

.title {
  font-size: 18px;
  color: $c-gray08;
  font-weight: 400;
  margin: 0 0 8px;
  padding: 0 0 13px;
  border-bottom: 1px solid $c-gray02;
  text-align: left;
  justify-content: flex-start;

  @include media('>=tablet') {
    margin: 0 0 16px;
    font-size: 24px;
  }
}

.arrow {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid $c-gray03;
  display: none;
  align-items: center;
  justify-content: center;

  @include media('>=tablet') {
    display: flex;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: $white;
  }
}

.caretIcon {
  width: 12px;
  height: 12px;
  color: $c-gray03;
  position: relative;
  z-index: 5;
}

.dot {
  background: $c-gray03;
  width: 8px !important;
  height: 8px !important;
  border: 0px solid $c-gray03;
  transition: all 100ms linear;
  padding: 0;
  margin: 0 16px 0 0;

  &:last-child {
    margin: 0;
  }

  &--isActive {
    background: $white;
    width: 12px !important;
    height: 12px !important;
    border: 3px solid $c-primay01;
  }
}