// Variables
@import "../settings/_index";

.sellertablist {
  display: flex;
}

.listContainer {
  justify-content: flex-start;
  width: auto;
}

.sellerTab {
  width: 118px;
  height: 100px;
  position: relative;
  border: {
    color: $c-gray02;
    radius: 1px;
    style: solid;
    width: 1px;
  }
  overflow: hidden;
  @include media(">=tablet") {
    border: {
      color: $c-gray02;
      radius: 1px;
      style: solid;
      width: 1px 1px 0 1px;
    }
  }
}

.listItem,
.listItemChildren {
  margin: 0 !important;
  padding: 0 !important;
  background-color: $c-gray01;
}

.listItemActive,
.listItemChildrenActive {
  background-color: transparent;
}

.listItemActive {
  :global(.vtex-button) {
    background-color: transparent;
    color: $c-black01;
    border: 1px solid $c-primay01 !important;
    @include media(">=desktop") {
      border: 1px solid transparent !important;
    }
  }
}

.listItemChildren {
  bottom: 70px;
  padding: 0 2px 0 11px !important;
  height: 75px;
  overflow-y: auto;
  position: relative;
  z-index: 20;
  margin-top: 0px !important;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $c-primay01;
    border-radius: 8px;
  }
  .currencyContainer {
    color: $c-primay01;
    font-size: 16px;
    font-weight: bold;
  }
}

.listItem {
  height: 100%;
  :global(.vtex-button) {
    height: 100%;
    width: 100%;
    z-index: 10;
    border: 1px solid transparent;
    &:hover {
      background: transparent;
    }
  }
  :global(.vtex-button__label) {
    padding: 0 !important;
    text-transform: capitalize;
    font-size: 14px;
    color: $c-title;
    align-items: initial;
    justify-content: flex-start;
    padding: 10px 11px !important;
    text-align: initial;
  }
}

.sellerList {
  margin: 0 !important;
}

.sellerListContainer {
  width: 100%;
  margin-bottom: 16px;
  @include media(">=tablet") {
    border: 1px solid $c-gray02;
    padding: 16px;
  }
}

.sellerRow {
  border: 0;
  flex-direction: column;
  align-items: flex-start;
}

.sellerShipping {
  padding: 0;
  width: 100%;
  text-align: inherit;
  margin-top: 5px;
  font-size: 12px;
  .sellerShippingText {
    margin-top: 0;
    color: $c-title;
    .currencyContainer {
      color: $c-title;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
.sellerBuyContainer {
  width: 100%;
}
.sellerQuantityAddTocart {
  display: flex;
  width: 100%;
}

.sellerBuyContainer {
  padding: 0;
}

.listPriceValue {
  color: $c-gray04;
  .currencyContainer {
    font-size: 14px;
  }
}
.sellerPrice {
  padding-left: 0;
  text-align: start;
  .currencyContainer {
    color: $c-primay01;
    font-size: 24px;
    font-weight: 800;
  }
}

.installments {
  color: $c-gray04;
  font-size: 0;
  .installmentsNumber {
    font-size: 14px;
    &::before {
      content: "ou";
      margin-right: 5px;
    }
    &::after {
      content: "x";
      margin-right: 5px;
    }
  }
  .installmentValue {
    font-size: 14px;
    &::before {
      content: "de";
      margin-right: 5px;
    }
  }
}

.skuSelectorItem {
  font-size: 90%;
  height: 36px;
  border: 2px solid transparent;
  margin: 0;

  &--selected {
    border: 2px solid $c-primay01;
    padding: 2px;
  }
  .frameAround {
    display: none;
  }
  .skuSelectorInternalBox {
    border-radius: 0;
  }
  .skuSelectorItemTextValue {
    color: $c-gray04;
  }
}

.quantitySelectorTitle {
  display: none;
}

.quantitySelectorStepper {
  :global(.vtex-numeric-stepper-container) {
    background-color: $c-gray01;
    border: 1px solid $c-gray02;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
  }
  :global(.vtex-numeric-stepper__input) {
    height: 48px;
    color: $c-gray06;
    align-items: center;
    border: 0 !important;
    background-color: $c-gray01;
    outline: none;
    width: 40px;
  }

  :global(.vtex-numeric-stepper__plus-button),
  :global(.vtex-numeric-stepper__minus-button) {
    max-width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50% !important;
    border: 1px solid #dadada;
    color: $c-gray04;
    background: transparent;
    margin: 5px;
  }
}

.sellerBuyContainer {
  :global(.vtex-button) {
    background-color: $c-accent03;
    border-color: $c-accent03;
  }

  .buttonText {
    position: relative;
    font-weight: 800;
    font-size: 12px;
    color: $white;
  }
}

.simulateShipping {
  margin: 15px 0;
  width: 100%;
  display: block;
  border: 0;
  padding: 16px 0 0;
  border-top: 1px solid $c-gray03;
  border-radius: 0;

  :global(.vtex-address-form__postalCode) {
    padding-bottom: 6px;

    :global(.vtex-input-prefix__group) {
      height: 40px;
    }
  }

  :global(.vtex-button) {
    background: $c-gray04;
    min-height: 40px;
  }
  :global(.vtex-button__label) {
    font-size: 12px;
    color: $white;
    font-weight: 800;
  }
}

.sliderArrows {
  border: 1px solid $c-gray03;
  background: $white;
  width: 40px;
  height: 40px;

  .caretIcon {
    color: $c-gray03;
    width: 10px;
    height: 10px;
  }
  &:disabled {
    display: none;
  }
}
.sliderRightArrow {
  @include media(">=wide") {
    right: -20px;
  }
}
.sliderLeftArrow {
  @include media(">=wide") {
    left: -20px;
  }
}

.sliderTrack {
  justify-content: flex-start;
  .slide {
    width: auto !important;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.skuSelectorItemImageValue {
  height: 100%;
}
