.quantitySelectorTitle {
  display: none;
}
.quantitySelectorStepper {
  :global(.vtex-numeric-stepper-container) {
    position: relative;
    max-width: 100%;

    @media(min-width: 768px) {
      width: 96px;

    }
  }

  :global(.vtex-numeric-stepper__plus-button),
  :global(.vtex-numeric-stepper__minus-button),
  :global(.vtex-numeric-stepper__input) {
    color: #9E9E9E;
    background: #F0F0F0;
  }

  :global(.vtex-numeric-stepper__plus-button-container),
  :global(.vtex-numeric-stepper__minus-button-container) {
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 35px;
    top: 0;
  }

  :global(.vtex-numeric-stepper__plus-button-container) {
    right: 0;
  }

  :global(.vtex-numeric-stepper__minus-button-container) {
    left: 0;
  }

  :global(.vtex-numeric-stepper__plus-button),
  :global(.vtex-numeric-stepper__minus-button) {
    max-width: 20px;
    height: 20px;
    position: relative;
    border-radius: 200px !important;
    border: 1px solid #DADADA;
    color: #9E9E9E;
  }

  :global(.vtex-numeric-stepper__input) {
    width: 100%;
    height: 48px;
    color: #4C4C4C;
    background: #F0F0F0;
    line-height: 48px;
  }
}
