.container {
  &--error-404 {
    font-family: "Open Sans";
  }
}

.headingLevel3 {
  &--error-404 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    margin-top: 0;
    color: #001d42;

    @include media("<=phone") {
      font-size: 24px;
      line-height: 33px;
    }
  }
}

.headingLevel4 {
  &--error-404 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 2.6em;
    color: #001d42;

    @include media("<=phone") {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.headingLevel5 {
  &--error-404 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
    color: #001d42;

    @include media("<=phone") {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.link {
  &--error-404 {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.4em 4em;
    color: #ffffff;
    background: #7132c7;

    @include media("<=phone") {
      font-size: 12px;
      line-height: 16px;
      padding: 1.4em 2em;
    }
  }
}
