.heading {
  &--page-contato-title {
    margin: 0;
    font-size: 24px;
    color: $c-primay01;
    font-weight: 400;

    @include media(">=tablet") {
      font-size: 40px;
    }
  }
}

.paragraph {
  &--page-contato-text {
    margin: 24px 0 0;
    font-size: 14px;
    color: $c-title;
    @include media(">=tablet") {
      font-size: 16px;
      margin: 40px 0 0;
    }
  }
}
