/* Not Found */

.container {
  &--notfound {
    justify-content: center;
    font-weight: 800;
    font-size: 24px;
    color: $c-gray08;
    margin: 0 16px;

    @include media('>=desktop') {
      margin: 0;
    }
  }

  &--shelfTitle {
    border-bottom: 1px solid $c-gray03;
    color: $c-gray12;
    justify-content: flex-start !important;
    width: 100%;
  }

  &--shelfTitle-01 {
    border-bottom: 1px solid $c-gray03;
    color: $c-gray12;
    justify-content: flex-start;
    width: 100%;

    @media screen and (max-width: 425px) {
      margin: 0 15px;
    }
  }

  &--shelfTitleNotFound {
    border-bottom: 1px solid $c-gray03;
    color: $c-gray12;
    justify-content: flex-start;
    margin: 0 16px;

    @include media('>=desktop') {
      margin: 0;
    }
  }
}

.paragraph {
  &--shelfTitle-01 {
    font-size: 24px;
    color: $c-gray08;
  }

  &--shelfTitleNotFound,
  &--shelfTitle {
    font-size: 24px;
    color: $c-gray08
  }
}

/* Not Found */
