// Variables
@import '../settings/_index';

/* Header */

.label {
  padding: 0;
  color: $white;
  display: flex;
  font-size: 0;
  text-align: start;
  text-transform: initial;
  flex-direction: column;

  &::before {
    content: "Olá, faça o seu login";
    font-size: 12px;
    text-transform: initial;
    font-weight: 800;
    line-height: 15px;
  }

  &::after {
    content: "ou cadastre-se";
    font-size: 12px;
    text-transform: initial;
    font-weight: 400;
    line-height: 15px;
    color: $white;
  }

  @include media('>=tablet') {
    color: $c-gray06;
    &::after {
      color: $c-gray04;
    }
  }

}

.buttonLink {
  :global(.vtex-button) {
    background: $c-headerBgMobile;
    height: 62px;

    @include media('>=tablet') {
      background: $c-headerBg;
      height: auto;
    }
  }

  :global(.vtex-button__label) {
    padding-left: 10px;

    &::before {
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      height: 28px;
      margin-right: 14px;
      width: 28px;
      background-image: $ico-userMobile;

      @include media('>=tablet') {
        background-image: $ico-user;
      }
    }
  }
}

.container {
  background: $c-headerBgMobile;
  height: 62px;
  padding: 0 15px;

  @include media('>=tablet') {
    background: $c-headerBg;
    height: auto;
    padding: 0;
  }

  :global(.vtex-button__label) {
    padding-right: 0;
    padding-left: 0;
    width: 100%;

    @include media('>=tablet') {
      width: 185px;
      padding: 13px 16px 0!important;
      margin: 0 0 0 6px;

      &::before {
        content: '';
        background-image: $ico-userGray;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        height: 28px;
        margin-right: 12px;
        width: 28px;
      }
    }

    @include media('>=wide') {
      padding: 0 !important;
    }
  }
}

.profile {
  display: block;
  color: $white;
  max-width: 210px;
  text-transform: none;
  padding: 0;

  @include media('>=tablet') {
    color: $c-gray06;
    max-width: 118px;
  }
}

.formTitle {
  display: none;
}

.contentForm {
  padding: 0;
}

.button {
  margin: 0 16px;

  @media (min-width: 1024px) {
    margin: 0;
  }

  :global(.vtex-button) {
    border: 1px solid $c-gray03;
    color: $c-gray05;
    font-size: 12px;
    background: transparent;
    height: 48px;
    font-weight: 800;
    transition: all 300ms ease-in-out;

    svg {
      display: none;
    }
    &:hover {
      border: 1px solid $c-primay01;
    }
  }

}

.optionsList {
  margin: 0;
}

.oauthLabel {
  font-weight: 700;
}

.inputContainer {
  :global(.vtex-input-prefix__group) {
    border: 1px solid $c-gray03;
    border-radius: 0;
  }
}

.forgotPasswordLink,
.dontHaveAccount {
  color: $c-primay01;
}
