// Variables
@import '../settings/_index';

.productHighlightWrapper {
  &--collection {
    background-color: $c-productHighlightWrapper;
    color: $white;
    margin: auto;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 24px;
    font-weight: 700;
    padding: 4px 8px;

    text: {
      align: center;
      transform: uppercase;
    }
  }
}
