@font-face {
  font-family: 'Open Sans';
  src: url('/arquivos/OpenSans-Regular.eot.css');
  src: url('/arquivos/OpenSans-Regular.eot.css?#iefix') format('embedded-opentype'),
      url('/arquivos/OpenSans-Regular.woff2.css') format('woff2'),
      url('/arquivos/OpenSans-Regular.woff.css') format('woff'),
      url('/arquivos/OpenSans-Regular.ttf.css') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/arquivos/OpenSans-Bold.eot.css');
  src: url('/arquivos/OpenSans-Bold.eot.css?#iefix') format('embedded-opentype'),
      url('/arquivos/OpenSans-Bold.woff2.css') format('woff2'),
      url('/arquivos/OpenSans-Bold.woff.css') format('woff'),
      url('/arquivos/OpenSans-Bold.ttf.css') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/arquivos/OpenSans-ExtraBold.eot.css');
  src: url('/arquivos/OpenSans-ExtraBold.eot.css?#iefix') format('embedded-opentype'),
      url('/arquivos/OpenSans-ExtraBold.woff.css2.css') format('woff2'),
      url('/arquivos/OpenSans-ExtraBold.woff') format('woff'),
      url('/arquivos/OpenSans-ExtraBold.ttf.css') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
