// Variables
@import '../settings/_index';

.wishlistIconContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  :global(.vtex-button) {
    min-height: 19px ;
    &:hover {
      background-color: transparent;
    }
  }
  :global(.vtex-button__label) {
    padding: 8px 0 !important;
    justify-content: flex-end;
  }
}
.wishlistIcon {
  width: 16px;
  height: 15px;
}

.outline {
  background: {
    image: $ico-wishlist-outline;
    repeat: no-repeat;
  }
}

.fill {
  background: {
    image: $ico-wishlist-fill;
    repeat: no-repeat;
  }
}